
.changepasswordbox{
    width : 350px;
    height : 450px;
    border : 2px solid  var(--dark);
}

.changepasswordpage{
    width: 99vw;
	height: 800px;
	display:flex;
    justify-content: center;
    align-items: center;
}
.changepassword_home:hover{
	color:var(--mocha);
}
.changepassword_home{
	color:var(--dark);
}
.brandtext{
	font-size: 30px;
	display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.form-control{
	width : 250px;
	height : 40px;
}
.inputbox{
	width : 250px;
	display:flex;
	justify-content: center;
	align-items: center;
}
.input_center{
	width : 250px;
	display:flex;
}

.btn{
	background-color: var(--mocha);
	color: white;
	width : 250px;
	height : 40px;
	margin-top: 0.75rem;
}

.btn:hover {
	background-color: var(--dark);
	color: white;
}

.error_box{
	display:flex;
	justify-content: center;
}

label {
    color: red !important;
    font-size: 12px;
    margin-top: 2px;
    display: block !important; 
}





@media screen and (min-width: 768px){
  
.changepasswordbox{
    width : 450px;
    height : 550px;
    border : 2px solid  var(--dark);
}

.changepasswordpage{
    width: 99vw;
	height: 800px;
}

.brandtext{
	font-size: 40px;
    padding-top: 2rem;
}

.form-control{
	width : 350px;
	height : 50px;
}
.inputbox{
	width : 450px;
}
.input_center{
	width : 350px;
	display:flex;
}

.btn{
	width : 350px;
	height : 50px;
	margin-top: 0.75rem;
}

label {
    font-size: 14px;
    margin-top: 2px;

}
  
}