.findpasswordbox{
    width : 450px;
    height : 550px;
    border : 2px solid  var(--dark);
}

.findpasswordpage{
    width: 99vw;
	height: 800px;
	display:flex;
    justify-content: center;
    align-items: center;
}
.findpassword_home:hover{
	color:var(--mocha);
}
.findpassword_home{
	color:var(--dark);
}
.findpassword_regi{
	font-weight: bold;
    color:var(--mocha);
}
.brandtext{

	font-size: 40px;
	display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}
.form-control{
	width : 350px;
	height : 40px;
}
.inputbox{
	width : 450px;
	display:flex;
	justify-content: center;
	align-items: center;
}
.input_center{
	width : 350px;
	display:flex;
}
.id_result{
	width : 250px;
	height : 100px;
	border : 1px solid  var(--mocha);
	display:flex;
	justify-content: center;
	align-items: center;
}
.btn{
	background-color: var(--mocha);
	color: white;
	width : 350px;
	height : 40px;
	margin-top: 0.75rem;
}

.btn:hover {
	background-color: var(--dark);
	color: white;
}
.input_name{
	margin : 0;
	font-size : 16px;
}
.boxcenter{
    display:flex;
    justify-content: center;	
}
.logmn{
		font-size : 20px;
}
.logmn:hover{
	color :var(--dark) !important;
}
.findpassword_menu{
	width : 350px;
	padding : 0;
	display:flex;
    justify-content: center;
	align-items: end;	
}
.result_findid{
	font-size : 18px;
	margin : 0 !important;
}
.regi{
	font-size : 14px !important;
}
.error_box{
	display:flex;
	justify-content: center;
}

label {
    color: red !important;
    font-size: 14px;
    margin-top: 2px;
    display: block !important; 
}

@media screen and (min-width: 768px){
  
}
@media screen and (min-width: 1024px){

}